.menu__title {
  text-align: center;
  font-size: var(--size-2xl);
  color: var(--clr-primary);
}

.menu__subtitle {
  text-align: center;
  font-size: var(--size-xs);
}

.row {
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  /* border: 1px solid white; */
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__wrapper {
  /* border: 1px solid white; */
  max-width: 9rem;
  border-radius: 20px;
  overflow: hidden;
}

.menu__wrapper img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
}

.description__menu {
  background-color: var(--clr-slate300);
  padding: 0.5rem;
  box-shadow: -2px 12px 24px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: -2px 12px 24px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -2px 12px 24px 0px rgba(0, 0, 0, 0.26);
}

.menu__rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.description__menu h1 {
  font-size: var(--size-base);
  text-align: left;
}
.description__menu p {
  text-align: left;
  font-size: var(--size-xxs);
  font-weight: 200;
  color: var(--clr-light);
  margin-bottom: 1rem;
  line-height: 1;
}

.menu__rating p {
  font-size: var(--size-xxs);
}

.menu__rating p i {
  color: var(--clr-primary);
}

.menu__rating h2 {
  color: var(--clr-light);
  font-size: var(--size-lg);
}

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  .menu__title {
    font-size: var(--size-3xl);
  }

  .menu__wrapper img {
    height: 11rem;
  }

  .description__menu h1 {
    font-size: var(--size-lg);
  }

  .description__menu p {
    margin-top: 0.5rem;
    font-size: var(--size-xs);
    line-height: 1.2;
  }

  .menu__rating p {
    font-size: var(--size-xs);
  }

  .menu__rating p i {
    color: var(--clr-primary);
  }

  .menu__rating h2 {
    color: var(--clr-light);
    font-size: var(--size-lg);
  }
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
  .menu__title {
    font-size: var(--size-4xl);
  }

  .menu__subtitle {
    font-size: var(--size-base);
  }

  .description__menu h1 {
    font-size: var(--size-xl);
  }

  .description__menu p {
    font-size: var(--size-xs);
    line-height: 1.2;
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
